:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-image: url("./main-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.avatar {
  display: block;
  margin: auto;
  margin-top: 10%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  height: 20rem;
  padding: 2rem;
  font-size: 2rem;
}

.text>p {
  font-size: 1.5rem;
}

.text>a>button {
  border: none;
  background: var(--overlay-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.text>a>button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.avatar,
h1,
p,
button {
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}